.container {
    margin: 0 auto;
    max-width: 1000px;
}

.nav {
    background: #24292E;
    padding: 12px 0;
}

.nav-item {
    color: #ccc;
}

.nav-item:hover {
    color: #fff;
}

code {
    color: green;
    font-family: monospace;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 14px;
}
