.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}

.nav {
    background: #24292E;
    padding: 12px 0;
}

.nav-item {
    color: #ccc;
}

.nav-item:hover {
    color: #fff;
}

code {
    color: green;
    font-family: monospace;
}

h1 {
    font-size: 36px;
    margin: 0 0 20px 0;
}
h2 {
    font-size: 30px;
    margin: 0 0 0 0;
}
p {
    font-size: 14px;
    margin: 0 0 10px 0;
}
